input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #acd8aa;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "K2D", sans-serif;
}

input[type="submit"] {
  background-color: #ffe6e8;
  color: #9f4a54;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "K2D", sans-serif;
}

input[type="submit"]:hover {
  background-color: #fda8af;
}

.container {
  border-radius: 5px;
  background-color: #acd8aa;
  padding: 20px;
  font-family: "K2D", sans-serif;
}
