.container {
  border: 1px solid;
  color: #c25c68;
  border-radius: 20px;
}

.background {
  min-height: 2000px;
  background-image: linear-gradient(rgba(178, 236, 225), #f5b0cb, #f3e3d5);
}

.tas {
  font-family: "K2D", sans-serif;
}
.button {
  background-color: #f49abe;
  border: 5px solid #c3e096;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.button1:hover {
  background-color: #f67bb2;
  border: 5px solid #addf60;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.button:active {
  background-color: #f5a4a1;
  border: 5px solid #f5e5ab;
  color: black;
}
