body {
  background-color: #9CFFD9;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;

}

.color2 {
  background-color: #1A535C;
  color: white;
} 
.color3{
  background-color: #69747C;
  color: white;
}
.navmar{
  margin-top: 80px;
}

.button {
  background-color: #fad2b3;
  border: 3px solid #61210F;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.button1:hover {
  background-color: #ffe2cc;
  border: 4px solid #603a2e;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.button:active {
  background-color: #f5a4a1;
  border: 5px solid #f5e5ab;
  color: black;
}

header img {
    height: 70px;
    margin-left: 40px;
}

header {
    background-color: #86949e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 100;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

header li a:hover {
  color: rgb(205, 221, 231);
}

.image figcaption{
position: absolute;
top: 50%;
bottom: 50%;
left: 40%;
}
